body {
    background-color: #354a5f;
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
    color: #333;
}

header {
    width: 600px;
    margin: 50px auto 0 auto;
    text-align: center;
}

header h1 {
    color: #efefef;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 42px;
}

.main {
    background-color: #21bc9c;
    border-radius: 10px;
    padding: 60px 25px 60px 25px;
    width: 600px;
    margin: 150px auto 0 auto;
}

.main .search input {
    padding: 15px;
    border-radius: 8px;
    border: none;
    box-shadow: inset 0px 0px 2px 2px #bcbcbc;
    background-color: #efefef;
    font-size: 20px;
    display: block;
    width: 90%;
    margin: 0 auto 0 auto;
    text-transform: uppercase;
    color: #21997d;
    font-weight: 600;
    font-family: 'Source Sans Pro', sans-serif;
}

.main .search .input:focus {
    border: none;
}

/*
|-----------------
| Autocomplete UI
|----------------
*/

.ui-autocomplete {
    background-color: #efefef;
    border-radius: 0px;
}

.ui-autocomplete .ui-menu-item { background-color: #efefef; }

.ui-autocomplete .ui-menu-item a {
    color: #21997d;
    font-weight: 600;
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
}